.body {
    -fx-background-image: url(abstractwallpaper.jpg);
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
   
}

/* Styles for buttons and labels */
/*.button {
    -fx-max-width: Double.MAX_VALUE;
    -fx-max-height: Double.MAX_VALUE;
}

.label {
    -fx-max-width: Double.MAX_VALUE;
    -fx-max-height: Double.MAX_VALUE;
}
