.body {
    -fx-background-image: url('background.png');
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}
